
img{
    height: 90px;
    width: 110px;
    margin-left:0px;
}

a:hover{
    transform: translateY(10);
}

@media (max-width:500px) {
    img{
        height: 100px;
        width: 105px;
        margin-left:0px;
    }
}